.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
}

label {
  margin: 30px auto;
}

input {
  border: 1px solid white;
  padding: 10px;
}

button {
  text-decoration: none;
  background: #00B3DF;
  padding: 15px 40px;
  border-radius: 4px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  border: none;
  width: 50%;
  margin: 30px auto;
}

button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #00B3DF;
}